accelerate
flask
flask_cors

torch
torcheval
torchmetrics
transformers
mosaicml

datasets
evaluate
rouge_score

langchain
langchain_core
langchain_google_genai
langchain_huggingface

langsmith

pinecone

comet-ml
comet-llm
mlflow 
wandb 
pyngrok